<div id="game-container" data-controller="game" data-game-id="<%= @game.id %>">
  <div id="scoreboard">
    <h2>Scoreboard</h2>
    <div>
      Score:
      <span data-target="game.score">0</span>
    </div>
    <div>
      Best Score:
      <span data-target="game.bestScore">0</span>
    </div>
  </div>

  <br>

  <div id="game-board">
    <% @cards.each do |card| %>
      <div class="card" data-card-id="<%= card.id %>" data-action="click->game#clickCard" data-game-target="card">
        <img src="<%= asset_path(card.image_url) %>" alt="<%= card.name %>">
        <p><%= card.name %></p>
      </div>
    <% end %>
  </div>
</div>
