<div class="devise-container">
  <div class="devise-form">
    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", required: true, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", required: true, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Forgot your password?", new_user_password_path %>
    </div>
  </div>
</div>
